@{
    ViewBag.Title = "Index";
}
<div id="grid"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var menuDataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: '@Url.Action("GetMenus", "Menu")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateMenus", "Menu")',
                    type: "post",
                    dataType: "json"
                },
                destroy: {
                    url: '@Url.Action("DeleteMenus", "Menu")',
                    type: "post",
                    dataType: "json"
                },
                create: {
                    url: '@Url.Action("CreateOrUpdateMenus", "Menu")',
                    type: "post",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            schema: {
                model: {
                    id: "MenuID",
                    fields: {
                        MenuID: { editable: false, defaultValue: "@Guid.NewGuid()" },
                        MenuName: { validation: { required: true} },
                        Url: { type: "string" },
                        OrderID: { type: "number" },
                        ParentID: { type: "string", defaultValue: "@Guid.Empty" }
                    }
                }
            }
        });
        var grid = $("#grid").kendoGrid({
            dataSource: menuDataSource,
            //dataBound: articleDataBound,
            navigatable: true,
            pageable: true,
            height: 740,
            toolbar: ["create", "save", "cancel"],
            columns: [
                { field: "MenuName", title: "Tên Menu"  },
                { field: "Url", title: "Đường dẫn" },
                { field: "ParentID", title: "Menu cha", editor: menuDropDownEditor },
                { field: "OrderID", title: "Thứ tự", width: "70px" },
                { command: ["destroy"], title: " ", width: "180px" }],
            editable: true,
            sortable: true,
            filterable: true,
            resizable: true
        });
        function menuDropDownEditor(container, options) {
            $('<input required data-text-field="MenuName" data-value-field="MenuID" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource: {
                            severFiltering: true,
                            transport: {
                                read: {
                                    url: '@Url.Action("GetMenus", "Menu")',
                                    type: "post",
                                    dataType: "json"
                                }
                            }
                        }
                    });
        }
    });
</script>