<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN - BIÊN HÒA | Mẹ tròn Con vuông</title>
    <link href="@Url.Content("~/css/style.css")" media="screen" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="" />
    <!-- <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/css.css")" />-->
    <!-- Themefuse Custom Styling -->
    <style type="text/css">
        .header
        {
            background: url("http://www.aucobienhoa.com/content/themes/auco/images/") repeat-x scroll 0 0 transparent;
        }
    </style>
    <meta name="robots" content="noindex,nofollow" />
    <link rel="alternate" type="application/rss+xml" title="BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN - BIÊN HÒA » Home Slider 1 Comments Feed"
          href="http://www.aucobienhoa.com/home-slider-1/feed/" />
    <link rel="stylesheet" id="gllrStylesheet-css" href="@Url.Content("~/css/nivo-slider.css")" type="text/css" media="all" />
    @*<link rel="stylesheet" id="gllrFancyboxStylesheet-css" href="@Url.Content("~/css/jquery.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="jquery-ui-1.8.16.custom.css-css" href="@Url.Content("~/css/jquery-ui-1.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="skin-css" href="@Url.Content("~/css/skin.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="selectmenu-css" href="@Url.Content("~/css/ui.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="prettyPhoto-css" href="@Url.Content("~/css/prettyPhoto.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="shCore-css" href="@Url.Content("~/css/shCore.css")" type="text/css" media="all" />
    <link rel="stylesheet" id="shThemeDefault-css" href="@Url.Content("~/css/shThemeDefault.css")" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/js/jquery_010.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/sendmail.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/comment-reply.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_004.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_003.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_008.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/preloadCssImages.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_007.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/general.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/slides.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_006.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-ui-1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/styled.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_002.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_005.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/reservations.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/shCore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/shBrushPlain.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/SyntaxHighlighter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery_005.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/js/tinymce.min.js")"></script>
    <meta name="generator" content="WordPress 3.4.1" />
    <link rel="canonical" href="http://www.aucobienhoa.com/" />
    <script type="text/javascript">
        if (!window.jQuery) {
            document.write('<s' + 'cript src="http://code.jquery.com/jquery-latest.js"></s' + 'cript>');
        }
    </script>
    @*<link href="@Url.Content("~/css/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet" type="text/css" />*@
    <meta name="description" content="Mẹ tròn Con vuông" />
    <meta name="keywords" content="" />
    <meta name="author" content="ThemeFuse" />
    @*<script src="@Url.Content("~/js/commonutilgeocoder.js")" charset="UTF-8" type="text/javascript">
    </script>
    <script src="@Url.Content("~/js/stats.js")" charset="UTF-8" type="text/javascript"></script>*@
    <script src="@Url.Content("~/KendoUI/js/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/livevalidation_standalone.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/js/jquery.ui.position.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.ui.datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.ui.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dp_calendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dp_calendar-vi.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/date.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/css/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/dp_calendar.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
            .LV_validation_message {
                font-weight: bold;
                margin: 0 0 0 5px;
                display: none;
            }

            .LV_valid { color: #00CC00; }

            .LV_invalid { color: #CC0000; }

            .LV_valid_field,
            input.LV_valid_field:hover,
            input.LV_valid_field:active,
            textarea.LV_valid_field:hover,
            textarea.LV_valid_field:active { border-color: #00CC00 !important; }

            .LV_invalid_field,
            input.LV_invalid_field:hover,
            input.LV_invalid_field:active,
            textarea.LV_invalid_field:hover,
            textarea.LV_invalid_field:active { border-color: #CC0000 !important; }
        </style>
</head>
<body class="gecko">
    <div class="header">
        <div class="header_top">
            <div class="container">
                <div class="c_language-top" style="display: none">
                    <a href="@Url.Action("Index", "Home")" title="Tiếng Việt">Tiếng Việt</a> <a>|</a>
                    <a href="http://www.aucobienhoa.com/en" title="English">English</a>
                </div>
                <div style="clear: both">
                </div>
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")" title="Mẹ tròn Con vuông">
                        <img src="@Url.Content("~/images/logo.png")" alt="BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN – BIÊN HÒA" border="0">
                    </a>
                </div>
                <!--/ .logo -->
                <div id="headerSearchForm">
                    <form method="get" id="1searchform" action="@Url.Action("Index", "Home")">
                    <div>
                        <input class="input searchText" name="s" id="s" value="Tìm kiếm" onfocus="if (this.value == 'Tìm kiếm') {this.value = '';}"
                            onblur="if (this.value == '') {this.value = 'Tìm kiếm';}" type="text">
                        <input style="margin: 0; padding: 0; width: 30px" id="searchsubmit" class="btn-submit "
                            value="" onfocus="if (this.value == '') {this.value = '';}" onblur="if (this.value == '') {this.value = '';}"
                            type="submit">
                    </div>
                    </form>
                    <div style="padding-right: 10px; font-size: 19px; font-style: italic; margin-top: 30px;
                        color: #90c74a">
                        Mẹ tròn con vuông</div>
                </div>
            </div>
            <!--/ .container -->
        </div>
        <!--/ .header_top -->
        <div class="header_menu">
            <div class="container">
                <div class="topmenu">
                     @{ Html.RenderAction("_TopMenu", "Home"); }
                </div>
            </div>
            <!--/ .container -->
        </div>
        <!--/ .header_menu -->
    </div>
    <!--/ .header -->
    @RenderBody()
    <div class="footer">
        <div class="container_12">
            
            <div class="footer-menu" style="margin-bottom: 20px">
                <center>
                    <div class="menu-menu-container">
                        @{ Html.RenderAction("_BottomMenu", "Home"); }
                    </div>
                </center>
            </div>
            <div class="clear">
            </div>
            <center>
                <ul>
                    <li style="display: inline"><a href="http://www.facebook.com/sharer.php?u=http://auco.com/&amp;t=B%E1%BB%87nh%20vi%E1%BB%87n%20%C3%82u%20C%C6%A1">
                        <img style="padding:5px; max-width: 30px;" src="@Url.Content("~/images/facef-metro.png")" alt=""/>
                    </a></li>
                    <li style="display: inline"><a href="http://www.twitter.com/share?url=http://auco.com/">
                                                    <img style="padding:5px;border-left:1px solid #ccc; border-right:1px solid #ccc; max-width: 30px;" src="@Url.Content("~/images/titf-metro.png")" alt=""/>
                    </a></li>
                    <li style="display: inline"><a href="http://plus.google.com/share?url=http://auco.com/">
                                                    <img style="padding:5px; max-width: 30px;" src="@Url.Content("~/images/gpf-metro.png")" alt=""/>
                    </a></li>
                </ul>
            </center>
            <div style="text-align: center;">
                <span style="font-weight: bold">©2013 BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN - BIÊN HÒA</span><br/>
                <span>Khu phố 5B – P. Tân Biên – TP. Biên Hòa – Tỉnh Đồng Nai <span>
                                                                                  <br/>
                    VP Biên Hòa: 627 Xa lộ Hà Nội – Khu phố 1 – P. Long Bình – TP. Biên Hòa – Tỉnh Đồng
                    Nai. </span>
                    <br/>
                    VP Sài Gòn : 23 Phùng Khắc Khoan – Phường Đakao – Quận 1 – TP. Hồ Chí Minh </span>
                <br/>
                <span>ĐT: 08 38 238 502 - Fax: 08 38 247 890 - Email: info@aucobienhoa.com.vn</span><br/>
            </div>
        </div>
    </div>
    <div id="fancybox-tmp">
    </div>
    <div id="fancybox-loading">
        <div>
        </div>
    </div>
    <div id="fancybox-overlay">
    </div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-ne">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-e">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-se">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-s">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-sw">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-w">
            </div>
            <div class="fancybox-bg" id="fancybox-bg-nw">
            </div>
            <div id="fancybox-content">
            </div>
            <a id="fancybox-close"></a>
            <div id="fancybox-title">
            </div>
            <a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico">
            </span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico">
            </span></a>
        </div>
    </div>
</body>
</html>
