@{
    ViewBag.Title = "DetailPage";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    TroyLeeMVCEF.Models.ArticleViewModel article = ViewBag.Article;
}
<script type="text/javascript">
    $(document).ready(function () {
        var name = new LiveValidation("Name");
        name.add(Validate.Presence, { failureMessage: "" });
        var email = new LiveValidation("Email");
        email.add(Validate.Presence, { failureMessage: "" });
        email.add(Validate.Email);
        var content = new LiveValidation("Content");
        content.add(Validate.Presence, { failureMessage: "" });
        $("#submitComment").click(function () {
            var frm = $('#commentform');
            if (LiveValidation.massValidate([name, email, content])) {
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        $("#comments ol").append(data);
                        $('#commentform')[0].reset();
                    }
                });
            }
        });
    });
</script>
<div class="container" style="margin-top: -51px;">
    <!-- header image/slider -->
    <div class="header_bot header_image">
        <div class="container">
            <img src="@Url.Content("~/Images/" + ViewBag.Banner)" alt="@article.Title" height="142" width="960">
        </div>
    </div>
    <!--/ header image/slider -->
</div>
<div class="middle sidebarRight">
    <div class="container_12">
        <div class="breadcrumb breadcrumbs tfuse-breadcrumbs">
            <div class="breadcrumb-trail">
                <span class="trail-before"><span class="breadcrumb-title"></span></span><a href="@Url.Action("Index", "AuCoBienHoa")"
                    title="BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN - BIÊN HÒA" rel="home" class="trail-begin">
                    Trang chủ</a> <span class="separator">»</span> <span class="trail-end">@article.Title</span></div>
        </div>
        <div class="grid_8 content">
            <div class="post-item post-detail">
                <div class="date-box">@String.Format("{0:dd/MM/yyyy}", article.UpdatedOn)</div>
                <h1>@article.Title</h1>
                <div class="entry">
                    @Html.Raw(article.Content)
                    <div class="clear">
                    </div>
                    <!-- AddThis Button BEGIN -->
                    <div style="float: right;" class="addthis_toolbox addthis_default_style addthis_20x20_style">
                        <i style="float: left">Chia sẻ bài viết&nbsp;</i> <a href="#" title="Email" target="_blank"
                            class="addthis_button_email at300b"><span class="at16nc at300bs at15nc at15t_email at16t_email">
                                <span class="at_a11y">Share on email</span></span></a>
                        <div class="atclear">
                        </div>
                    </div>
                    <script type="text/javascript" src="@Url.Content("~/js/addthis_widget.js")"></script>
                    <!-- AddThis Button END -->
                </div>
                <!--/ .entry -->
                <div class="post-meta">
                    <em>bởi <span class="author"><a href="#" onclick="return false;" title="Posts by admin"
                        rel="author">@article.Author</a></span> <span class="separator">|</span> <a href="#"
                            onclick="return false;" class="link-comments">@article.Comments.Count bình luận</a>
                    </em>
                </div>
            </div>
            <!--/ .post-item post-detail -->
            <div class="divider_dots">
            </div>
            <!-- You can start editing here. -->
            <div class="comment-list" id="comments">
                <ol>
                    @if (article.Comments != null)
                    {
                        foreach (var comment in article.Comments)
                        {
                        <li class="comment even thread-even depth-1"><a name="comment-33"></a>
                            <div id="li-comment-33" class="comment-container comment-body">
                                <div class="avatar">
                                    <img alt="" src="http://www.gravatar.com/avatar/2b81edaa6822486461b23fa8ad05cf68"
                                        class="photo avatar-40 photo avatar-default" height="40" width="40" /></div>
                                <div class="comment-text">
                                    <div class="comment-author">
                                        <div class="link-author">@comment.Name</div>@String.Format("{0:dd/MM/yyyy}", comment.CreatedOn)</div>
                                    <div class="comment-entry">@comment.Content</div>
                                </div>
                                <!-- /.comment-head -->
                                <div id="comment-33">
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <!-- /.comment-container -->
                        </li>
                        }
                    }
                </ol>
            </div>
            <div id="respond">
                <div class="add-comment" id="addcomments">
                    <h3 class="alignleft">
                        Góp ý</h3>
                    <a style="display: none;" href="javascript:void(0);" class="link-top alignright">Top</a>
                    <div class="clear">
                    </div>
                </div>
                <div class="comment-form">
                    <form action="@Url.Action("PostComment", "AuCoBienHoa")" method="POST" name="commentform" id="commentform">
                    <input type="hidden" name="ArticleID" id="ArticleID" value="@article.ArticleID">
                    <div class="row alignleft">
                        <label for="Name">
                            Tên*</label>
                        <input name="Name" class="inputtext input_middle required" id="Name" size="40" tabindex="1"
                            type="text">
                    </div>
                    <div class="row alignleft">
                        <label for="Email">
                            Email*</label>
                        <input name="Email" class="inputtext input_middle required" id="Email" size="40"
                            tabindex="2" type="text">
                    </div>
                    <div class="clear">
                    </div>
                    <!--<p><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </p>-->
                    <div class="row">
                        <label>
                            Nội dung</label>
                        <textarea name="Content" class="textarea textarea_middle required" id="Content" cols="30"
                            rows="10" tabindex="4"></textarea>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="row">
                        <input style="width: 160px; background-image: url(/images/contactBtn.png);" id="submitComment"
                            type="button" />
                    </div>
                    </form>
                    <!-- /#commentform -->
                </div>
            </div>
            <!-- /#respond -->
            <div class="clear">
            </div>
        </div>
        <!--/ .content -->
        <div class="grid_4 sidebar">
            @{Html.RenderAction("_NewArticle", "AuCoBienHoa");}
            @RenderPage("~/Views/Shared/_HotInfo.cshtml")
        </div>
        <!--/ .sidebar -->
        <div class="clear">
        </div>
    </div>
    <!--/ .container_12 -->
</div>
<!--/ .middle -->
<div class="middle_bot">
</div>
