@using TroyLeeMVCEF.Model.Entities
@{
    ViewBag.Title = "ForumPage";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    List<ArticleCategory> articleCategories = ViewBag.ArticleCategories;
    var Forum = (string)ViewBag.Forum;
    var img = articleCategories != null && articleCategories.Count > 0 ? articleCategories.FirstOrDefault().ImageUrl : "/images/khamvadieutri1.jpg";
}
<div class="container" style="margin-top: -51px;">
    <!-- header image/slider -->
    <div class="header_bot header_image">
        <div class="container">
            <img src="@img" height="142" width="960" alt="@img" />
        </div>
    </div>
    <!--/ header image/slider -->
</div>
<div class="middle sidebarRight">
    <div class="container_12">
        <div class="breadcrumb breadcrumbs tfuse-breadcrumbs">
            <div class="breadcrumb-trail">
                <span class="trail-before"><span class="breadcrumb-title"></span></span><a href="@Url.Action("Index", "Home")"
                    title="BỆNH VIỆN PHỤ SẢN ÂU CƠ SÀI GÒN - BIÊN HÒA" rel="home" class="trail-begin">
                    Trang chủ</a> <span class="separator">»</span> <span class="trail-end">@Forum</span></div>
        </div>
        <div class="grid_8 content">
            <div class="post-item">
                <div class="entry">
                    @foreach(var articleCategory in articleCategories)
                    {
                        <div class="forum">
                        <div class="ftitle">
                            @articleCategory.ArticleCategoryName<a href="@Url.Action("CategoryPage", "Home", new { articleCategory.ArticleCategoryID })">- Xem thêm&gt;</a></div>
                            <ul>
                                @foreach(var article in articleCategory.Articles)
                                {
                                    <li><a href="@Url.Action("DetailPage", "Home", new { article.ArticleID })">@article.Title</a></li>
                                }
                            </ul>
                    </div>
                    }
                    <div class="clear">
                    </div>
                </div>
                <!--/ .entry -->
            </div>
            <!--/ .post-item -->
        </div>
        <!--/ .content -->
        <div class="grid_4 sidebar">
            @{Html.RenderAction("_NewArticle", "Home");}
            @RenderPage("~/Views/Shared/_HotInfo.cshtml")
        </div>
        <!--/ .sidebar -->
        <div class="clear">
        </div>
    </div>
    <!--/ .container_12 -->
</div>
<!--/ .middle -->
<div class="middle_bot">
</div>
